
.employee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:100%;
    background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}
.employee .item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color:#c3975e;
    width: 70%;
}

.employee .item div,a{
    padding: 10px;
    margin: 10px;
}

.employee .item:hover{
    background-color:black;
    color: white; 
    
}